<ion-view view-title="Contact">
  <ion-content class="scroll-content ionic-scroll has-header logoImage" ng-class="{expanded:$scope.isExpanded}">
    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
     <div class="hero" style="background-image: url('../img/logocontact.jpg');">
      <div class="content">
        <div class="avatar" style="background-image: url('../img/uslogo.png');"></div>
        <h3><a class="light">Contactez Nous</a></h3>
      </div>
     </div>
    </div>
     <div class="tabs tabs-dark tabs-icon-top static">
      <a class="tab-item" href="#/app/comments">
        <i class="icon ion-arrow-graph-up-right"></i> Activity
      </a>
      <a  class="tab-item" href="#/home">
        <i class="icon ion-images"></i> Photos
      </a>
    </div>
    <div class="item item-avatar">
        <img src="../img/comment.gif">
        <h2>Augustin Gims</h2>
        <p>Administrateur</p>
    </div>
    <div class="content double-padding">
      <h4 class="positive">Infos Contacts</h4>
      <p class="text-muted">
        Tel:  + 237 691542066
      </p>
      <p class="text-muted">
        EMAIL:  augustingims@gmail.com
      </p>
    </div>
  </ion-content>
</ion-view>
